<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-list-header>Films App</ion-list-header>

          <ion-menu-toggle *ngFor="let link of menuLinks$ | async" auto-hide="false">
            <ion-item routerDirection="root"
                      [routerLink]="[link.url]"
                      lines="none"
                      detail="false"
                      routerLinkActive="selected">
              <ion-icon slot="start" [ios]="link.icon + '-outline'" [md]="link.icon + '-sharp'"></ion-icon>
              <ion-label>{{ link.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-button *ngIf="userService.user$ | async"
                    (click)="logout()"
                    expand="full">
          <ion-icon slot="start" name="exit"></ion-icon>
          Logout
        </ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
